@charset "windows-1251";
.title {
    display: block;
    margin: 0 0 20px 0;
    padding: 10px 10px 10px 30px;
    width: 100%;
    background-color: #EEEEEE;
    border-bottom: darkblue 1px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.main {
    display: block;
    width: 95%;
    padding: 20px;
    margin: auto auto 40px auto;
    align-content:center;
    background-color:#EEE;
    border: darkblue 1px solid;
    border-radius: 15px;
}

/*
    Список
 */
.table {
    width: 100%;
    border: black 1px solid;
    border-collapse: collapse;
}
.search-block {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    font-weight: bold;
    padding: 5px 20px 5px 0;
    color: lightgrey;
    background-color: black;
}
.search-block .search {
    float: right;
}
.search-block .search input {
    margin-right: 1em;
    height: 2em;
    padding: 0 0.25em;
}
.search-block .search .fa {
    cursor: pointer;
    width: 1.2em;
}
.table-row {
    position: relative;
    padding-left: 100px;
    width: 100%;
    height: 100px;
    border-bottom: #333 1px solid;
}
.table-row:nth-child(even) {
    background-color: #BBB;
}
.table-cell {
    display: block;
    vertical-align: middle;
}
.table-cell.l_photo {
    width: 100px;
    max-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
}
.table-cell img {
    height: 100px;
    width: 100px;
    padding: 0;
    cursor: pointer;
}
.table-info {
    width: 100%;
    margin-left: 10px;
}
.table-cell.l_name,
.table-cell.l_owntel,
.table-cell.l_tel,
.table-cell.l_mail {
    display: inline-block;
    width: 20%;
}
.table-cell.l_name {
    cursor: pointer;
}
.l_owntel a, .l_tel a, .l_mail a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.l_owntel a:hover, .l_tel a:hover, .l_mail a:hover {
    color: darkred;
}
.mobview {
    display: none;
}
.card img {
    width: 180px;
    height: 180px;
}
.card textarea {
    width: 80%;
    height: 10em;
}

/*
    Карточка участника
 */
br {
    display: block;
    margin: 1.5em 0;
    content: " ";
}
.navigator {
    display: block;
    background-color: #404040;
    margin: 0 0 1em 0;
    padding-left: 1em;
}
.navigator .nav-button {
    display: inline-block;
    width: 4em;
    height: 2em;
    padding: 0.5em 0;
    color: wheat;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
}
.navigator .nav-button:hover {
    background-color: wheat;
    color: #404040;
}
.full_name {
    display: block;
    font-size: large;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.photo img {
    width: 200px;
    height: 200px;
}
.o_tel,
.email,
.tel {
    display: block;
    float: left;
    font-weight: bold;
}
.o_tel a,
.email a,
.tel a {
    text-decoration: none;
    color: initial;
}
.sp_note {
    border: darkred 2px solid;
    font-size: larger;
    font-weight: bold;
    color: darkred;
}
.cablink a {
    display: inline-block;
    width: 100%;
    height: 3em;
    border: darkblue 1px solid;
    border-radius: 5px;
    background-color: #99CCFF;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}
.cablink a:hover,
.cablink a:active {
    background-color: #FDFECF;
}
#more_info {
    display: none;
}
.clickable {
    cursor: pointer;
}
@media only screen and (max-width: 850px) {
    .title {
        display: none;
    }
    .main {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 3px Grey;
        align-content: center;
        background-color: #EEE;
        border-style: none;
        border-radius: 0;
    }
    .table-row {
        position: relative;
        padding-left: 50px;
        padding-bottom: 10px;
        width: 100%;
        height: unset;
        min-height: 50px;
        border-bottom: #333 1px solid;
    }
    .table-row:nth-child(even) {
        background-color: #BBB;
    }
    .table-cell {
        display: block;
        vertical-align: middle;
    }
    .table-cell.l_photo {
        width: 50px;
        max-width: 50px;
        position: absolute;
        left: 0;
        top: 5px;
    }
    .table-cell img {
        height: 50px;
        width: 50px;
        padding: 0;
    }
    .table-info {
        width: 100%;
        margin-left: 10px;
        font-size: small;
        line-height: 1.6;
    }
    .table-cell.l_name,
    .table-cell.l_owntel,
    .table-cell.l_tel,
    .table-cell.l_mail {
        display: block;
        width: 50%;
    }
    .table-cell.l_name p,
    .table-cell.l_owntel p,
    .table-cell.l_tel p,
    .table-cell.l_mail p {
        display: inline;
    }
    .table-cell.l_name {
        cursor: pointer;
    }
    .l_owntel a, .l_tel a, .l_mail a {
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }
    .l_owntel a:hover, .l_tel a:hover, .l_mail a:hover {
        color: darkred;
    }
}