@charset "windows-1251";
.explanation {
	font-size: x-small;
}
.required {
	color: #C00;
	font-weight: bold;
}
.indented {
	display: block;
	position: relative;
	left: 20px;
	width: 60%;
	padding: 10px;
	border: 1px solid darkgrey;
	box-shadow: 2px 3px grey;
}
.text-input {
	font-size: 18px;
	box-sizing: border-box;
	border: 1px solid white;
	border-radius: 3px;
	width: 75%;
	max-width: 500px;
	margin: 8px 0 8px 0;
	padding: 12px 0 12px 5px;
	resize: none;
	box-shadow: 0 0 2px #333;
}
#birthday {
    width: 200px;
}
/* checkbox and radio styling: http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/ */
input[type=checkbox]:not(old),
input[type=radio]:not(old){
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio]:not(old) + label {
	display: inline-block;
	margin-left: -2em;
	line-height: 1.5em;
	font-size: 18px;
	color: #333;
    padding-top: 1em;
}
input[type=checkbox]:not(old) + label > span,
input[type=radio]:not(old) + label > span {
	display: inline-block;
	width: 0.875em;
	height: 0.875em;
	margin: 0.25em 0.5em 0.25em 0.25em;
	border: 0.0625em solid rgb(192,192,192);
	border-radius: 0.25em;
	background: rgb(224,224,224);
	background-image: -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
	background-image: linear-gradient(rgb(240,240,240),rgb(224,224,224));
	vertical-align: bottom;
}
input[type=checkbox]:not(old):checked + label > span,
input[type=radio]:not(old):checked + label > span {
	background-image: -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image: -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image: -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image: -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
	background-image: linear-gradient(rgb(224,224,224),rgb(240,240,240));	
}
input[type=checkbox]:not(old):checked + label > span:before {
	content: '\2718';
	display: block;
	width: 1em;
	color: rgb(153,204,102);
	font-size: 0.875em;
	line-height: 0.75em;
	text-align: center;
	text-shadow: 0 0 0.0714em rgb(115,153,77);
	font-weight: bold;
}
input[type=radio]:not(old):checked + label > span > span {
	display: block;
	width: 0.5em;
	height: 0.5em;
	margin: 0.15em;
	border: 0.0625em solid rgb(115,153,77);
	border-radius: 0.125em;
	background: rgb(153,204,102);
	background-image: -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image: -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image: -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image: -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
	background-image: linear-gradient(rgb(179,217,140),rgb(153,204,102));
}
input[type=submit], button {
	display: block;
	width: 300px;
	height: 70px;
	font-size:18px;
	text-shadow: 0 0 0.015em #063;
	color: darkgreen;
	border-radius: 10px;
}
.hidden_error {
	display: none;
	background-color: #CC0000;
    color: azure;
    font-size: x-small;
    width: 200px;
    height: auto;
	opacity: 0;
}
.hidden_error.showed {
	display: block !important;
	opacity: 1;
	-webkit-animation: toshow 1s;
	animation: toshow 1s;
}
@-webkit-keyframes toshow {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes toshow {
	from {opacity: 0;}
	to {opacity: 1;}
}
#sendStatus {
	display: block;
	opacity: 0;
	font-size: small;
	font-weight: bold;
	padding: 20px 0 0 0;
	margin: 0;
}
@media only screen and (max-width: 850px) {
	.main {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		border:#CCC 1px solid;
		box-shadow: 0 0 3px Grey;
		align-content:center;
		background-color:#EEE;
	}
	.text-input {
		width: 100%;
		font-size: large;
		padding: 12px 10px;
		margin: 0;
		box-sizing: border-box;
		border: 1px solid white;
		border-radius: 5px;
	}
	.explanation {
		font-size: small;
	}
	input[type=submit], button {
		width: 100%;
	}
}