h1 {
    color: black;
    text-align: center;
}
a {
    text-decoration: none;
    width: 200px;
    display: block;
}
[class*="button"] {
    display: block;
}
.button {
    position: absolute;
    top: 210px;
    left: 300px;
    background-color: greenyellow;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button span {
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content:'\00bb' ;
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button2 {
    position: absolute;
    top:300px;
    left: 700px;
    background-color: dodgerblue;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button2 span {
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button2:hover span {
    padding-right: 25px;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}
.button3 {
    position: absolute;
    top: 210px;
    left: 700px;
    background-color: orangered;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;

}

.button3 span {
    position: relative;
    transition: 0.5s;
}

.button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button3:hover span {
    padding-right: 25px;
}

.button3:hover span:after {
    opacity: 1;
    right: 0;
}

.button4 {
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: orchid;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button4 span {
    position: relative;
    transition: 0.5s;
}

.button4 span:after {
    content:'\00bb' ;
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button4:hover span {
    padding-right: 25px;
}

.button4:hover span:after {
    opacity: 1;
    right: 0;
}

.button7 {
    position: absolute;
    top: 400px;
    left: 700px;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button7 span {
    position: relative;
    transition: 0.5s;
}

.button7 span:after {
    content:'\00bb' ;
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button7:hover span {
    padding-right: 25px;
}

.button7:hover span:after {
    opacity: 1;
    right: 0;
}

.button8 {
    position: absolute;
    top: 500px;
    left: 300px;
    background-color: cyan;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button8 span {
    position: relative;
    transition: 0.5s;
}

.button8 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button8:hover span {
    padding-right: 25px;
}

.button8:hover span:after {
    opacity: 1;
    right: 0;
}

.button9 {
    position: absolute;
    top: 500px;
    left: 700px;
    background-color: forestgreen;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button9 span {
    position: relative;
    transition: 0.5s;
}

.button9 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button9:hover span {
    padding-right: 25px;
}

.button9:hover span:after {
    opacity: 1;
    right: 0;
}

.button10 {
    position: absolute;
    top: 600px;
    left: 500px;
    background-color: mediumvioletred;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button10 span {
    position: relative;
    transition: 0.5s;
}

.button10 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button10:hover span {
    padding-right: 25px;
}

.button10:hover span:after {
    opacity: 1;
    right: 0;
}


.aboutthegame {
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    position: absolute;
    top: 230px;
    left: 1150px;
    text-align: center;
    border-radius: 1200px;
    font-size: 18px;
    padding: 10px;
}
.aboutthegame:hover {
    width: 180px;
    height: 180px;
}

.button5 {
    position: absolute;
    top: 400px;
    left: 700px;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 350px;

}

.button5 span {
    position: relative;
    transition: 0.5s;
}

.button5 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button5:hover span {
    padding-right: 25px;
}

.button5:hover span:after {
    opacity: 1;
    right: 0;

}
.button6 {
    position: absolute;
    top: 400px;
    left: 300px;
    background-color: yellow;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
}

.button6 span {
    position: relative;
    transition: 0.5s;
}

.button6 span:after {
    content:'\00bb' ;
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}

.button6:hover span {
    padding-right: 25px;
}

.button6:hover span:after {
    opacity: 1;
    right: 0;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: black;
    color: dodgerblue;
    overflow-x: hidden;
}

.root {
    overflow-y: hidden;
}

.title {
    width: 500px;
    height: 80px;
    padding: auto;
    font-size: 60px;
    position: absolute;
    left: 380px;
    top: 50px;
    z-index: 1;
    background-color: lavender;
    color: darkslateblue;
    border-style: none;
    opacity: 0.8;
    -webkit-transition: opacity 200ms;
    text-align: center;
}

/*.title:hover {
    opacity: 0.3;
}

.link:hover {
    opacity: 1;
}*/

 .bg {
     display: block;
     position: absolute;
     width: 100px;
     height: 100px;
     opacity: 0.3;
     -webkit-transition: opacity 200ms;
     z-index: -1;
     text-align: center;
 }

.bg:hover {
    opacity: 0.7;
}

.x1 {
    left: 0;
}
.x2 {
    left: 100px;
}
.x3 {
    left: 200px;
}
.x4 {
    left: 300px;
}
.x5 {
    left: 400px;
}
.x6 {
    left: 500px;
}
.x7 {
    left: 600px;
}
.x8 {
    left: 700px;
}
.x9 {
    left: 800px;
}
.x10 {
    left: 900px;
}
.x11 {
    left: 1000px;
}
.x12 {
    left: 1100px;
}
.x13 {
    left: 1200px;
}
.x14 {
    left: 1300px;
}
.x15 {
    left: 1400px;
}


.y1 {
    top: 0;
}
.y2 {
    top: 100px;
}
.y3 {
    top: 200px;
}
.y4 {
    top: 300px;
}
.y5 {
    top: 400px;
}
.y6 {
    top: 500px;
}
.y7 {
    top: 600px;
}
.y8 {
    top: 700px;
}
.y9 {
    top: 800px;
}
.y10 {
    top: 900px;
}
.y11 {
    top: 1000px;
}
.y12 {
    top: 1100px;
}
.y13 {
    top: 1200px;
}
.y14 {
    top: 1300px;
}
.y15 {
    top: 1400px;
}


.c1 {
    background-color: palevioletred;
}
.c2 {
    background-color: indianred;
}
.c3 {
    background-color: darkred;
}
.c4 {
    background-color: red;
}
.c5 {
    background-color: orangered;
}
.c6 {
    background-color: darkorange;
}
.c7 {
    background-color: yellow;
}
.c8 {
    background-color: greenyellow;
}
.c9 {
    background-color: green;
}
.c10 {
    background-color: lightgreen;
}
.c11 {
    background-color: cornflowerblue;
}
.c12 {
    background-color: blue;
}
.c13 {
    background-color: purple;
}
.c14 {
    background-color: peru;
}
.c15 {
    background-color: peachpuff;
}
